{% extends 'gCirc_app/base.html' %}
{% load static %}

{% block body_block %}
<body>
<h2 id="one_edit_header">2020 Trivia</h2>
<p id="one_edit_p">Choose the right answer before the timer runs out to win!</p>
&nbsp;

<p id="gQuestion"></p>
<div id="gButtonContainer" class="container">
<button id="gameButton" class="center btn btn-primary" onclick="setTimeout(startGame, 3000); hide()">
Start
</button>
</div>
&nbsp;
<canvas id="myCanvas" width="400" height="600">
    Your browser does not support the HTML5 canvas tag.
</canvas>


    <script type="text/javascript" src="{% static '/js/oneEdit.js' %}"></script>
    
</body>
{% endblock %}