{% extends 'gCirc_app/base.html' %}
{% load static %}

{% block body_block %}
<body>
<h2 id="one_edit_header">2020 Trivia</h2>
<p id="one_edit_p">Choose the right answer before the timer runs out to win!</p>
&nbsp;

<p id="gQuestion"></p>
<div id="gButtonContainer" class="container">
<button id="gameButton" class="center btn btn-primary" onclick="setTimeout(startGame, 3000); hide()">
Start
</button> 
</div>

&nbsp;
<p id="gScore"> SCORE: 0</p>
&nbsp;


<canvas id="myCanvas" width="400" height="600">
    Your browser does not support the HTML5 canvas tag.
</canvas>

<script type="module" src="{% static '/js/questions.js' %}"></script>
<script type="text/javascript" src="{% static '/js/trivia.js' %}"></script>

&nbsp;

&nbsp;
<div id="nextBtn" class="container">
<button class="center btn btn-primary" onclick="refreshBoard()">
Next Q
</button>
</div>


    
</body>
{% endblock %}